<div class="pipes">
  <h1>Pipes</h1>
  <h2>Built-in Pipes</h2>
  <p>{{myValue | uppercase}}</p>
  <p>{{myDate | date:"MM/dd/yy"}}</p>
  <p>{{myValue | slice:3:7 | uppercase}}</p>
  <h2>Custom Pipe</h2>
  <input type="text" #input (keyup)="0">
  <p>{{input.value | double }}</p>
  <hr>
  <input type="text" #newItem>
  <button class="btn btn-primary"
    (click)="values.push(newItem.value)">Add item
  </button>
  <ul class="">
    <li *ngFor="let value of values | filter:'ea' ">
      {{value}}
    </li>
  </ul>
  <hr>
  <h2>Async Pipe</h2>
  <p>{{asyncValues | async}}</p>
 </div>

