<div class="row">
  <div class="col-xs-12">
    <form ingredientId="shopping-list-add" #f="ngForm"
          (ngSubmit)="onSubmit(f.value)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input type="text"
                 ingredientId="item-name"
                 required
                 [ngModel]="item.name"
                 class="form-control"
                 name="name">
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input type="text"
                 ingredientId="item-amount"
                 required
                 [ngModel]="item.amount"
                 class="form-control"
                 name="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit"
                  *ngIf="isAdd" [disabled]="!f.valid">Add
          </button>
          <button class="btn btn-success" type="submit"
                  *ngIf="!isAdd" [disabled]="!f.valid">Save
          </button>
          <button class="btn btn-danger" type="button"
                  *ngIf="!isAdd" (click)="onDeleteItem()">Delete Item
          </button>
          <button class="btn btn-primary" type="button"
                  *ngIf="!isAdd" (click)="onClear()">Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
