<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse" ingredientId="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" rbDropdown>
          <a class="dropdown-toggle" role="button"
             aria-haspopup="true"
             aria-expanded="false">Recipe Management<span
            class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onStore()" style="cursor: pointer">Store recipes</a></li>
            <li><a (click)="onFetch()" style="cursor: pointer">Retrieve recipes</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
