<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h1>Hello World!</h1>
      <hr>
      <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['']" [queryParams]="{analytics: 500}">Home</a>
      </div>
      <br>
      <input type="text" #id (input)="0"><br>
      <a [routerLink]="['user', id.value]" routerLinkActive="active">User</a>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
