<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Attribute Directives</h2>
      <h4>ngClass / ngStyle</h4>
      <div class="rect" [ngClass]="{border: true, background: true}"></div>
      <div class="rect" [class.border]="true"></div>
      <div class="rect" [class.background]="true"></div>
      <div class="rect" [ngStyle]="{'background-color': 'red'}"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Custom Attribute Directive</h4>
      <div class="rect" [highlight]="'blue'" [defaultColor]="'yellow'">Some text</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Structural Directives</h2>
      <h4>*ngIf"</h4>
      <div *ngIf="toggle">Conditional text</div>
      <template [ngIf]="toggle">
        <div>
          Conditional text
        </div>
      </template>
      <button class="btn" (click)="onSwitch()">Switch</button>
      <h4>*ngFor</h4>
      <ul style="overflow: hidden;">
        <li style="float: left; list-style: none; margin-right: 5px;"
            *ngFor="let item of items; let i = index">{{item}} - (Index: {{i}})
        </li>
      </ul>
      <h4>ngSwitch</h4>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="10">10</p>
        <p *ngSwitchCase="100">100</p>
        <p *ngSwitchDefault>Default</p>
      </div>
      <div [ngSwitch]="value">
        <template [ngSwitchCase]="10">10</template>
        <template  [ngSwitchCase]="100">100</template>
        <template  ngSwitchDefault>Default</template>
      </div>
      <h4>UnlessDirective</h4>
      <div *unless="toggle">Conditional text</div>
    </div>
  </div>
</div>


