.border {
  border: 3px solid blue;
}

.background {
  background-color: green;
}

div.rect {
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px;
  transition: background-color 500ms ease;
}
