<div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="panel-group">
        <div class="panel panel-default panel-faq" style="border: none;">
          <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
            <md-tab-group>
              <md-tab label="Login">
                <div>
                  <div *ngIf="loginError" style="color:red;">Incorrect username or password.</div>
                  <form (ngSubmit)="onLogin()">
                    <div class="form-group">
                      <label for="username">Username *</label>
                      <input type="text" class="form-control" id="username" name="username"
                             [(ngModel)]="credential.username" required="required" autofocus="autofocus"/>
                      <p style="color: #828282;"> Enter your username marian</p>
                    </div>
                    <div class="form-group">
                      <label for="password">Password *</label>
                      <input type="password" class="form-control" id="password" name="password"
                             [(ngModel)]="credential.password" required="required"/>
                      <p style="color: #828282;"> Enter the password that accompanies your username HZQEPTQEKT2ZLLW8QF
                      </p>
                    </div>
                    <button md-raised-button type="submit" class="mat-primary">Log in</button>
                  </form>
                </div>
              </md-tab>
              <md-tab label="New Account">
                <div>
                  <div class="alert alert-info" *ngIf="emailSent">An email has been sent to email address you just
                    registered. Please validate your email address and update your password info.
                  </div>
                  <form (ngSubmit)="onNewAccount()">
                    <div class="form-group">
                      <label for="newUsername">Username *</label>&nbsp;<span *ngIf="usernameExists" style="color:red;">Username already exists. Choose a different one.</span>
                      <input required="required" type="text" class="form-control" id="newUsername" name="username"
                             [(ngModel)]="username"/>
                      <p style="color: #828282;"> Enter your username, special charaters are not allowed.
                      </p>
                    </div>
                    <div class="form-group">
                      <label for="email">Email address *</label>&nbsp;<span *ngIf="emailExists" style="color:red;">Email already exists. Choose a different one.</span>
                      <input required="required" type="email" class="form-control" id="email" name="email"
                             [(ngModel)]="email"/>
                      <p style="color: #828282;"> A valid e-mail address. All e-mails from the system will be sent to
                        this address. The e-mail address is not made public and will only be used if you wish to receive
                        a new password or wish to receive certain news or notifications by e-mail.</p>
                    </div>
                    <button md-raised-button type="submit" class="mat-primary">Create new account</button>
                  </form>
                </div>
              </md-tab>
              <md-tab label="Forget Password">
                <div>
                  <div *ngIf="emailNotExists" class="alert alert-danger">Email doesn't exists.</div>
                  <div *ngIf="forgetPasswordEmailSent" class="alert alert-success">Email sent.</div>
                  <form (ngSubmit)="onForgetPassword()" method="post">
                    <div class="form-group">
                      <label for="recoverEmail">Your Email *</label>
                      <input type="text" class="form-control" id="recoverEmail" name="email" [(ngModel)]="recoverEmail"/>
                      <p style="color: #828282;"> Enter your registered email address.</p>
                    </div>
                    <button md-raised-button type="submit" class="mat-primary">Submit</button>
                  </form>
                </div>
              </md-tab>
            </md-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <button (click)="test()">test</button>
      </div>
    </div>
  </div>
</div>
