<h1>String interpolation</h1>
<p>
  {{stringInterpolation}}
</p>
<p>
  {{numberInterpolation}}
</p>
<h1>Property Binding</h1>
<p><input type="text" value="text"></p>
<p><input type="text" value="{{stringInterpolation}}"></p>
<p><input type="text" [value]="stringInterpolation"></p>
<p [ngClass]="{redBorder: onTest()}">It this is styled!</p>
<p [ngStyle]="{color: 'green'}">It this is styled!</p>
<h1>Custom Property Binding</h1>
<fa-property-binding [result]="10"></fa-property-binding>
<h1>Event Binding</h1>
<fa-event-binding (clicked)="onClicked($event)"></fa-event-binding>
<h1>Two way Binding</h1>
<fa-two-way-binding></fa-two-way-binding>
