<h1>Template Driven</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div ngModelGroup="">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="user.username"
             name="username"
             id="username"
             required>
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text"
             class="form-control"
             id="email"
             [(ngModel)]="user.email"
             name="email"
             required
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
             #email="ngModel">
      <div *ngIf="!email.valid">
            Invalid email.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           [(ngModel)]="user.password"
           id="password"
           name="password"
           required>
  </div>
  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio" name="gender"
             [(ngModel)]="user.gender"
             [value]="g"/>
      {{g}}
    </label>
  </div>
  <button type="submit" class="btn btn-primary"
    [disabled]="!f.valid">Submit</button>
</form>
